<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <ul class="sidebar-nav">
                    <li> <a href="/catalog">Home</a></li>
                    <li> <a href="/catalog/books">All books</a></li>
                    <li> <a href="/catalog/authors">All authors</a></li>
                    <li> <a href="/catalog/genres">All genres</a></li>
                    <li> <a href="/catalog/bookinstances">All book-instances</a></li>
                    <li>
                        <hr>
                    </li>
                    <li> <a href="/catalog/author/create">Create new author</a></li>
                    <li> <a href="/catalog/genre/create">Create new genre</a></li>
                    <li> <a href="/catalog/book/create">Create new book</a></li>
                    <li> <a href="/catalog/bookinstance/create">Create new book instance (copy)</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <h1><%= title %></h1>

                <% if(bookinstance_list && bookinstance_list.length > 0) {%>
                <ul>
                    <% bookinstance_list.forEach(function(val){ %>
                        <li>
                            <a href="<%= val.url %>" >
                                <%= val.book.title %> ：
                                <%= val.imprint %> -
                            </a>

                            <% if (val.status === '可供借阅') {%>
                                <span class="text-success">
                                    <%= val.status %>
                                </span>
                            <% } %>

                            <% if (val.status === '馆藏维护') {%>
                                <span class="text-danger">
                                    <%= val.status %>
                                </span>
                            <% } %>

                            <% if (val.status === '已借出') {%>
                                <span class="text-warning">
                                    <%= val.status %>
                                </span>
                                <span>
                                    (Due: <%= val.due_back_formatted %>)
                                </span>
                            <% } %>

                        </li>
                    <% }); %>
                </ul>
                <% } else { %>
                    <p> li There are no book copies in this library. </p>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>